<style>
<!--
BODY {background-color:#FFFFFF;}

DIV {background-color:yellow;
     border-width:3pt; border-color:black; border-style:double;
     font-family:garamound,verdana,sans-serif; font-size: 14pt;}

H1 {margin-left:1%; margin-right:1%; margin-top:2%;
    text-align:center; background-color:cyan; 
    border-width:10pt; border-color:blue; border-style:groove;}

H3 {text-align:center; background-color:cyan;}

TABLE {margin-left:2%; margin-right:2%; margin-bottom:2%;
       background-color:cyan; color:blue;
       border-width:5pt; border-color:blue; border-style:groove;}

TR.NORMAL {background-color:cyan;}

TR.HIGHLIGHT {background-color:#3366FF; color:white;
              font-weight:bold;}

P.COLHEAD {color: black; background-color: pink;
           text-align:center; font-weight:bold;}

-->
</style>      